html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  vertical-align: middle;
}

form {
  background-color: #fff;
}

button {
  color: #f2f2f2;
  padding: .3rem;
  background-color: #000;
  border-collapse: collapse;
  border: solid 1px #000;
  border-radius: 8px;
}

.remove-border {
  border: none;
}

label {
  padding-bottom: .2rem;
}

@media only screen and (min-width: 60em) {

  html {
    line-height: 1.4;
  }
}
